{
    "$schema": "https://json-schema.org/draft/2020-12/schema",
    "$id": "https://raw.githubusercontent.com/blues/notecard-schema/master/env.template.rsp.notecard.api.json",
    "title": "env.template Response Application Programming Interface (API) Schema",
    "type": "object",
    "properties": {
        "bytes": {
            "description": "Size of the processed template in bytes",
            "type": "integer"
        }
    },
    "version": "0.1.1",
    "apiVersion": "9.1.1"
}
