{
    "$schema": "https://json-schema.org/draft/2020-12/schema",
    "$id": "https://raw.githubusercontent.com/blues/json-schema-internal/master/env.template.rsp.notecard.api.json",
    "title": "Notecard Application Programming Interface (API) Schema",
    "description": "JSON description of the env.template API",
    "type": "object",
    "properties": {
        "manifestVersion": {
            "description": "Semantic version of the schema",
            "type": "string",
            "const": "0.1.1"
        },
        "apiVersion": {
            "description": "Semantic version of the Notecard API",
            "type": "string",
            "const": "9.1.1"
        },
        "bytes": {
            "description": "Size of the processed template in bytes",
            "type": "integer"
        }
    }
}
