{
    "$schema": "https://json-schema.org/draft/2020-12/schema",
    "$id": "https://raw.githubusercontent.com/blues/notecard-schema/master/env.template.req.notecard.api.json",
    "title": "env.template Request Application Programming Interface (API) Schema",
    "description": "The env.template request allows developers to provide a schema for the environment variables the Notecard uses. The provided template allows the Notecard to store environment variables as fixed-length binary records rather than as flexible JSON objects that require much more memory.",
    "type": "object",
    "properties": {
        "manifestVersion": {
            "description": "Semantic version of the schema",
            "type": "string",
            "const": "0.1.1"
        },
        "apiVersion": {
            "description": "Semantic version of the Notecard API",
            "type": "string",
            "const": "9.1.1"
        },
        "oneOf": {
            "cmd": {
                "description": "Command for the Notecard (no response)",
                "const": "env.template"
            },
            "req": {
                "description": "Request for the Notecard (expects response)",
                "const": "env.template"
            }
        },
        "body": {
            "description": "Template object with environment variable placeholders",
            "type": "object"
        }
    },
    "oneOf": [
        {
            "required": [
                "req"
            ],
            "properties": {
                "req": {
                    "const": "env.template"
                }
            }
        },
        {
            "required": [
                "cmd"
            ],
            "properties": {
                "cmd": {
                    "const": "env.template"
                }
            }
        }
    ],
    "additionalProperties": false
}
